.btn-default {
	margin-left:4px;
}

.header {
	background:#4b92db;
	color:white;
}

.header a:link {
	color:white
}
.header a:visited {
	color:white
}
.header a:hover {
	color:white
}
.header a:active {
	color:white
}

.icon {
	width:20px;
	margin-right:7px;
	margin-top:-4px;
}

.exploreselect {
	max-width:120px;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
.footer {
  height: 30px;
}