<h1> Explore! </h1>

<div ng-show="eType == 'countries'">
<select style="width:200px" ng-model="industry">
	<option value="United States">United States</option>
	<option value="United Kingdom">United Kingdom</option>
	<option value="Afghanistan">Afghanistan</option>
	<option value="Aland Islands">Aland Islands</option>
	<option value="Albania">Albania</option>
	<option value="Algeria">Algeria</option>
</select>
</div>

<div ng-show="eType == 'industries'">
<select style="width:200px" ng-model="country">
	<option value="United States">United States</option>
	<option value="United Kingdom">United Kingdom</option>
	<option value="Afghanistan">Afghanistan</option>
	<option value="Aland Islands">Aland Islands</option>
	<option value="Albania">Albania</option>
	<option value="Algeria">Algeria</option>
</select>
</div>
<div>
<select 
	width="'100px'"
	chosen 
	ng-model="fromYear" 
	ng-options="y for y in years">
</select>
<select 
	width="'100px'"
	chosen 
	ng-model="toYear" 
	ng-options="y for y in years">
</select>
</div>

<button class="btn btn-default" ng-click="back()">Home</button>