<div>
<div ng-show="eType == 'countries'">
<select width="'350px'" 
	chosen 
	data-placeholder="Select Industry" 
	no-results-text="'No Industries in data set.'"
	ng-model="selectedIndustry" 
	ng-options="i.code + ' ' + i.name for i in availableIndustries"
	ng-change="updateGraph()">
</select>
</div>

<div ng-show="eType == 'industries'">
<select width="'350px'" 
	chosen 
	data-placeholder="Select Country" 
	no-results-text="'No Countries in data set.'"
	ng-model="selectedCountry" 
	ng-options="c.name for c in availableCountries"
	ng-change="updateGraph()">
	<option></option>
</select>
</div>

<select 
	width="'100px'"
	chosen 
	ng-model="fromYear" 
	ng-options="y for y in years"
	ng-change="updateGraph()">
	<option></option>
</select>
<select 
	width="'100px'"
	chosen 
	ng-model="toYear" 
	ng-options="y for y in years"
	ng-change="updateGraph()">
</select>
</div>
<canvas id="line" class="chart chart-line" chart-data="data"
  chart-labels="labels" chart-legend="true" chart-series="series" >
</canvas> 

<button class="btn btn-default" ng-click="back()">Home</button>