<div class="panel-heading">
<h4 class="panel-title"><img src="visuals/data-storage1.svg" class="icon"><span style="margin-right:4px">Data</span>
<select width="'250px'"
    chosen 
    data-placeholder="Select Data" 
    no-results-text="'No Data available.'"
    ng-model="selectedData" 
    ng-options="d.name for d in availableData"
    ng-change="selectedDataChanged()">
</select></h4>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <div role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <h4 class="panel-title">
          <a class="collapsed">
            <img src="visuals/world10.svg" class="icon" />Countries
          </a>
        </h4>
      </div>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <form 
            name="countriesForm"
            ng-submit="explore(countries, countriesForm.$valid)">
            <div class="form-group">
                <select width="'350px'" 
                    name="countries"
                    required
                    chosen multiple 
                    data-placeholder="Select Countries" 
                    no-results-text="'No Countries in data set.'"
                    ng-model="selectedCountries" 
                    ng-options="c.name for c in availableCountries">
                    <option></option>
                </select>
                <input type="submit" class="btn btn-default" value="Explore">
            </div>
        </form>          
      </div>
    </div>
  </div>
    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <div role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h4 class="panel-title">
          <a class="collapsed">
            <img src="visuals/factory6.svg" class="icon" />Industries
          </a>
        </h4>
      </div>
    </div>

    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">     
        <form>
            <div class="form-group">
                <select width="'350px'"
                    required
                    name="industries"
                    chosen multiple 
                    data-placeholder="Select Industries" 
                    no-results-text="'No Industries in data set.'"
                    ng-model="selectedIndustries" 
                    ng-options="i.code + ' ' + i.name for i in availableIndustries">
                    <option></option>
                </select>
                <button class="btn btn-default" ng-click="explore('industries')">Explore</button>
            </div>
        </form>    
      </div>
    </div>
  </div>
</div>
